name: Build and Test

on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        ghc: ['9.0.1', '8.10.4', '8.8.4', '8.6.5', '8.4.4']
        os: [ubuntu-latest, macOS-latest, windows-latest]
        exclude:
          - os: macOS-latest
            ghc: '8.4.4' # fails due to ghc panic

    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: '3.2'
        enable-stack: true

    - name: Cache Cabal
      uses: actions/cache@v1.2.0
      with:
        path: ~/.cabal
        key: ${{ runner.OS }}-${{ matrix.ghc }}-cabal-0

    - run: cabal update
    - name: Build
      run: cabal build
    - name: Test
      run: cabal test

  sdist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
    - name: Check
      run: cabal check
    - name: Generate sdist
      run: cabal sdist
    - uses: actions/upload-artifact@v2
      with:
        name: 'sdist'
        path: dist-newstyle/sdist/hie-bios*.tar.gz

  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ludeeus/action-shellcheck@master
      with:
        ignore: tests

  windows-wrapper:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Compile Windows wrapper
      run: ghc -hide-all-packages -package base -package directory -package process -Wall -Werror wrappers/cabal.hs -o CabalWrapper
