name: Build and Test

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        ghc: ['9.2.2', '9.2.1', '9.0.2', '9.0.1', '8.10.7', '8.8.4', '8.6.5']
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
    - id:   extra-ghc
      uses: haskell/actions/setup@v2
      with:
        ghc-version: '8.10.7'

    - uses: haskell/actions/setup@v2
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: '3.6'
        enable-stack: true

    - name: Print extra ghc version
      run: ghc-8.10.7 --version

    - name: Print normal ghc version
      run: ghc --version

    - name: Instruct stack to use system ghc if possible
      run: stack config set system-ghc --global true

    - name: Cache Cabal
      uses: actions/cache@v3.0.8
      with:
        path: ~/.cabal
        key: ${{ runner.OS }}-${{ matrix.ghc }}-cabal-0

    - run: cabal update
    - name: Build
      run: cabal build
    - name: Test Parser
      run: cabal test parser-tests --test-show-details=direct
    - name: Test Bios
      # Run all tests in the project
      run: cabal test bios-tests --test-show-details=direct --test-options="--ignore-tool-deps"

  sdist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: haskell/actions/setup@v2
    - name: Check
      run: cabal check
    - name: Generate sdist
      run: cabal sdist
    - uses: actions/upload-artifact@v3
      with:
        name: 'sdist'
        path: dist-newstyle/sdist/hie-bios*.tar.gz

  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ludeeus/action-shellcheck@master
      with:
        ignore: tests

  windows-wrapper:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: haskell/actions/setup@v2
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Compile Windows wrapper
      run: ghc -hide-all-packages -package base -package directory -package process -Wall -Werror wrappers/cabal.hs -o CabalWrapper
